*.abyss
*.amb
*.ann
*.bam
*.bam.bai
*.bwt
*.changes
*.depth
*.discrep
*.ema-fcnt
*.ema-ncnt
*.fa
*.faa
*.fai
*.fasta
*.fq.gz
*.fsa
*.gbf
*.gff
*.hist
*.histo
*.id
*.log
*.mitos
*.pac
*.pdf
*.png
*.ps
*.sa
*.sqn
*.stamp
*.tbl
*.time
*.tree
*.txt
*.unicycler
*.val
4M-with-alts-february-2016.txt
data
notes
prokka

# IQ-TREE
*.bionj
*.ckp.gz
*.iqtree
*.mldist
*.model.gz
*.splits.nex

!marmot-mt.fa
!marmot-mt.mitos.fix.tbl
!marmot-mt.mitos.tbl
!marmot1-20M.bx.unicycler.mt.rot.fa
!marmot1-20M.bx.unicycler.xx.fa
!marmot1-20M.bx.unicycler.xx.gcode4.prokka/marmot.tbl
